[user]
	user = Eduard Dubrovskiy
	email = edubrovskii@evolution.com
	name = Eduard Dubrovsky
[alias]
	co = checkout
	cp = cherry-pick
	br = branch
	ci = commit
	st = status
[pager]
	branch = false
	log = false
[gitreview]
	remote = origin
	username = tkma27y
[pull]
	rebase = false
[init]
	defaultBranch = main
